@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

label{
  display: block;
  margin-top: 1.3em;
  margin-bottom:0.3em;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  padding:.8em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
  
  outline: 2.3px solid gray;
}


input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button
{
  display: block;
  margin-top: 1.3em;
  background: none;
  padding: 0.8em;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  cursor: pointer
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus,
.button:focus
{
  outline: none;
}